# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# VSCode settings
.vscode/

# Distribution / build
build/
dist/
*.egg-info/

# Environment files
.env
*.env

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS specific
.DS_Store
Thumbs.db
